* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: #FF4A52;
}

ul {
    margin: 0px;
    padding: 0px;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.row {
    width: 100%;
    display: flex;
}

.font-15 {
    font-size: 15px !important;
}


li {
    list-style: none;
    cursor: pointer;
    transition: color .2s;
}

li:hover {
    color: #FF4A52;
}

header {
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
}

.search-icon {
    justify-content: center;
    align-items: center;
}

.search-icon a {
    color: black;
}

.drop-down-menu a {
    color: black;
}

.hanberger {
    margin-right: 5px;
    margin-top: 7px
}

#menu {
    width: 0px;
    overflow: hidden;
}

#menu.toggle {
    width: 150px;
    height: 300px;
    background-color: darkgrey;
    float: right;
    text-align: center;
    border-radius: 10px;
}

#menu ul li {
    margin: 30px;
}

.slider {
    background-image: url('../images/banner2.png');
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-text {
    justify-content: space-around;
    align-items: center;
    height: 45vw;
    flex-direction: column;
    margin-bottom: 20px;
}

@font-face {
    font-family: myfont;
    src: url("../NothingYouCouldDo-Regular.ttf");
}

.slider-text h3 {
    font-size: 9vw;
    font-family: myfont;
    color: white;
    font-weight: 400;
    margin-top: 30px;
}

.slider-text p {
    font-size: 3vw;
    color: white;
    font-weight: 400;
}

.slider-btn {
    background-color: #1EC6b6;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1.5vw;
    border: none;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: 1s;
}

.slider-btn:hover {
    background-color: #FF4A52;
    color: white;
}

.search-bar {
    background-color: #040e27;
    flex-direction: column;
    padding: 20px 25px;
    align-items: center;
}

.search-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
}

input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
}

.search-btn {
    background-color: #FF4A52;
    color: white;
    padding: 17px 39px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #1ec6b6;
    color: white !important;
}

.search-bar h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.popular-heading {
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.popular-title {
    font-size: 38px;
    font-weight: 400;
    color: #040e27;
    margin: 10px;
}

.popular-p {
    font-size: 16px;
    color: #7a838b;
    font-weight: 400;
    line-height: 30px;
}

.popular-container {
    flex-wrap: wrap;
    justify-content: center;
}

article img {
    margin-bottom: 20px;
    height: 280px;
    margin-right: 10px;
}

.popular-container article {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    transition: transform .3s;
}

.popular-container article:hover {
    transform: translateY(10px);
}

.popular-container article:before {
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 45%, rgba(4, 14, 39, 0.7)100%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 98%;
    height: 92.4%;
    z-index: 1000;
    border-radius: 5px;
}

.popular-image-info {
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 1000;
}

.popular-image-info p {
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
}

.popular-image-info a {
    background-color: #1EC6b6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 7px 12px;
    color: white;
    margin-left: 10px;
}

.popular-container article:hover .popular-image-info p {
    color: #FF4A52;
    transition: 0.3s;
}

.popular-container article:hover .popular-image-info a {
    color: white;
    background-color: #FF4A52;
    transition: 0.3s;
}

.newsletter {
    background-image: url('../images/newsletter.png');
    background-position: 60%;
    background-size: cover;
    height: 250px;
    position: relative;
}

.newsletter-container {
    flex-direction: column;
    align-items: center;
    z-index: 100000;
}

.newsletter-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.newsletter::before {
    position: absolute;
    background-color: #040E27;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.newsletter-text h4 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.newsletter-text p {
    color: #aab1b7;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.mail-form {
    flex-direction: column;
}

.mail-form input {
    width: 40vw;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 15px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.mail-form button {
    background-color: #FF4A52;
    color: white;
    padding: 16px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.video {
    background-image: url(../images/video.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding: 130px 0;
    margin: 15px 0;
    position: relative;
}

.video::before {
    position: absolute;
    content: '';
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 1;
}

.video-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container h3 {
    font-family: myfont, cursive;
    font-weight: 400;
    font-size: 7vw;
    color: white;
    margin-bottom: 30px;
    z-index: 100;
}

.video-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #1ec6b6;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: background-color .5s;
    cursor: pointer;
}

.video-button:hover {
    background-color: #FF4A52;
}

.video-button i {
    color: white;
}

footer {
    background-color: #040E27;
    padding: 60px 0;
    justify-content: space-evenly;
}

.footer-info li {
    color: #aab1b7;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.footer-title {
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: myfont;
}

.links li {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 35px;
}

.links li a {
    color: #aab1b7;
    font-weight: 400;
    font-family: myfont;
}